body {
    display: grid;
    grid-template-areas:
      "head head  head"
      "nav  nav   nav"
      "asi  main  main"
      "foot foot  foot";

      grid-template-columns: 15% 85%;

      font-family: "Baskervville SC", serif;
      font-size: 15pt;
      background-color: black;
      color: white;
  }
  
  header {
    grid-area: head;   
  }
  
  nav {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
    padding: 5px;
}

aside{
  grid-area: asi;
  padding: 5px;
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

footer {
    grid-area: foot;
    text-align: center;
}

#top{
  background-color: rgb(170, 28, 28);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}